* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Big Shoulders Display", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-size: inherit;
  padding: 1rem;
  border-radius: 25px;
  max-width: 150px;
  background-color: hsl(0, 0%, 95%);
  border-width: 0;
  font-weight: bold;
  box-shadow: 0px 5px 5px black;
}

.c-card {
  padding: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.box {
  height: 420px;
  max-width: 400px;
  display: flex;flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.card-one {
  background-color: hsla(31, 77%, 52%, 0.889);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-two {
  background-color: hsl(184, 100%, 22%);
}

.card-three {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-btn-one {
  color: hsl(31, 77%, 52%);
}
.card-btn-one:hover {
  background-color: hsla(31, 77%, 52%, 0.889);
  color: hsl(0, 0%, 95%);
}

.card-btn-two {
  color: hsl(184, 100%, 22%);
}
.card-btn-two:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.card-btn-three {
  color: hsl(179, 100%, 13%);
}
.card-btn-three:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}


@media screen and (min-width:768px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c-card{
    display: flex;
    flex-direction: row;
  }

  .box{
    max-width: 250px;
  }

  .card-info{
    padding-bottom: 2.5rem;
  }

  .card-one{
    border-top-right-radius:0;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  }

  .card-three{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  }

  button{
    padding: 0.7rem;
    max-width: 130px;
    text-align: center;
  }
}